<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>
<body>
    <% if(nav === true){ %>

        <header class="bg-white border-b  border-gray-200 sticky top-0 z-50">
            <div class="flex items-center justify-between px-4 py-3">
                <div class="flex items-center space-x-4">
                    <h1 class="text-red-600 font-bold text-2xl">Social</h1>
                </div>
                <div class="flex items-center space-x-3">

                    <a href="/profile" class="text-black  rounded px-2 font-medium">Profile</a>

                    <a href="/feed" class="text-black  rounded px-2 font-medium">Feed</a>

                   <a href="/logout" class="py-1 px-3 bg-red-500 text-white rounded">Logout</a>
                </div>
            </div>
        </header>
        <% }%>